<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}">
  </head>
  <body>
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="https://github.com/napafundi">Github</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
    <div class="main_block">
      <div class="github-card" data-github="napafundi" data-width="400" data-height="150" data-theme="default"></div>
      <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>
  </body>
</html>
