<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}">
  </head>
  <body>
    <ul>
      <li><a class="active topbar" href="#home">Home</a></li>
      <li><a class="topbar" href="#contact">Contact</a></li>
    </ul>
    <div class="main_block">
      <div class="github-card" data-github="napafundi" data-width="400" data-height="150" data-theme="default"></div>
      <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
      <div class="skills_section">
        <h1 class="skills_header">Skills</h1>
        <div class="skills_paragraph">
          <div>
            <h2>Languages</h2>
            <h3>Proficient with:</h3>
            <ul class="vertical_list">
              <li>Python</li>
              <li>SQL</li>
              <li>Git</li>
            </ul>
            <h3>Familiar with:</h3>
            <ul class="vertical_list">
              <li>Javascript</li>
              <li>Java</li>
              <li>HTML/CSS</li>
              <li>VBA</li>
            </ul>
          </div>
          <div>
            <h2>Frameworks/Libraries</h2>
            <h3>Proficient with:</h3>
            <ul class="vertical_list">
              <li>JQuery</li>
              <li>SQLAlchemy</li>
              <li>Flask</li>
              <li>Tkinter</li>
              <li>Openpyxl</li>
            </ul>
            <h3>Familiar with:</h3>
            <ul class="vertical_list">
              <li>Pandas</li>
            </ul>
          </div>
          <div>
              <h2>Dev Environments</h2>
              <h3>Proficient with:</h3>
              <ul class="vertical_list">
                <li>VSCode</li>
                <li>Atom</li>
              </ul>
              <h3>Familiar with:</h3>
              <ul class="vertical_list">
                <li>Android Studio</li>
                <li>Eclipse</li>
                <li>IntelliJ</li>
              </ul>
            </div>
            <div class="project_description">
              <h2>Capstone Project</h2>
              <div>
                <p>While working as an assistant distiller at The Albany Distilling Company, I took on responsibility of inventory management.</p>
              </div>
            </div>
        </div>
      </div>
      <div class="link_section">
        <ul class="links">
          <li><a class="sidebar active">Skills</a></li>
          <li><a class="sidebar">Resume</a></li>
          <li><a class="sidebar">Interests</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
