<!DOCTYPE html>
<html class="background">
    <head>
        <meta name="viewport" content="width=device-width, inital-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    </head>
    <body>
        <div class="center">
            <div class="row">
                <h1 class="col-12">Sign In</h1>
            </div>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
        
    </body>
</html>